<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    <h1>ASSASSINS (<%= assassins.length %>)</h1>
    <nav class="right">
      <a href="/assassins/active">ACTIVE</a> |
      <a href="/assassins/retired">RETIRED</a> | 
      <a href="/assassins/new">CREATE NEW</a>
    </nav>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Code Name(s)</th>
          <th>Weapon</th>
          <th>Email</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Kills</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <% for (assassin of assassins) { %>
          <tr>
            <td><a href=<%= `/assassins/${assassin.id}` %>><%= assassin.name !== '' ? assassin.name : 'Unknown' %></a></td>
            <td><a href=<%= `/assassins/${assassin.id}` %>><%= assassin.codenames.length > 0 ? assassin.codenames : 'none' %></a></td>
            <td><%= assassin.weapon %></td>
            <td><%= assassin.email %></td>
            <td><%= assassin.price %></td>
            <td><%= assassin.rating %></td>
            <td><%= assassin.kills %></td>
            <td><%= assassin.age %></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
