<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Code Name(s)</th>
          <th>Weapon</th>
          <th>Email</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Kills</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <% for (assassin of assassins) { %>
          <tr>
            <td><a href=<%= `/assassins/${sha1(assassin.id.toString())}` %>><%= assassin.name !== '' ? assassin.name : 'Unknown' %></a></td>
            <td><a href=<%= `/assassins/${sha1(assassin.id.toString())}` %>><%= assassin.codeNames.length > 0 ? assassin.codeNames : 'none' %></a></td>
            <td><%= assassin.weapon %></td>
            <td><%= assassin.contactInfo %></td>
            <td><%= assassin.price %></td>
            <td><%= assassin.rating %></td>
            <td><%= assassin.kills %></td>
            <td><%= assassin.age %></td>
          </tr>
          <% } %>
      </tbody>
    </table>
    <div class="menu">
      <span class="disabled">ASSASSINS</span> | <a href="/contracts">CONTRACTS</a>
    </div>
  </div>
</body>
</html>
