<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    <div class="box">
      <div class="hidden red deleted-indicator" id="deletedIndicator">
        <h1>SUCCESSFULLY DELETED <%= name.toUpperCase() %></h1>
        <a id="undo" class="yellow" href="../assassins/<%= hashed_id %>">UNDO</a> | <a href="/assassins">OK</a>
      </div>
      <h1><%= name %></h1>
      <div class="flex">
        <div>
          <% if (photo_url) { %>
            <img src="<%- photo_url %>" width="200px" />
          <% } else { %>
            <img src="/img/avatar.png" width="200px" />
          <% } %>
        </div>
        <div>
          <div class="assassin attribute">
            Code Name(s): <%= codenames.length > 0 ? codenames : 'none' %>
          </div>
          <div class="assassin attribute">
            Email: <%= email %>
          </div>
          <div class="assassin attribute">
            Weapon: <%= weapon %>
          </div>
          <div class="assassin attribute">
            Age: <%= age %>
          </div>
          <div class="assassin attribute">
            Price: $<%= price %>
          </div>
          <div class="assassin attribute">
            Rating: <%= rating %>
          </div>
          <div class="assassin attribute">
            Kills: <%= kills %>
          </div>
        </div>
      </div>
      <a id="deleteLink" href="/assassins/<%= hashed_id %>" class="red">DELETE</a> | <a id="deleteLink" href="#" class="yellow">UPDATE</a>
    </div>
    <div class="menu">
      <a href="/assassins/">ASSASSINS</a> | <a href="/contracts">CONTRACTS</a>
    </div>
  </div>
</body>
</html>
