<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    <h1>CONTRACT DETAILS</h1>
    <div class="box">
      <div class="flex">
        <div>
          <h2>Target</h2>
          <div>
            <% if (contract.target.person.photo_url) { %>
              <img src="<%= contract.target.person.photo_url %>" height="300px" />
            <% } else { %>
              <img src="/img/avatar.png" height="300px"/>
            <% } %>
          </div>
          <div>
            Name: <%= contract.target.person.name %>
          </div>
          <div>
            Location: <%= contract.target.location %>
          </div>
          <div>
            Security Level: <%= contract.target.security %>
          </div>
          <div>
            Status:
            <% if (contract.complete) { %>
              <%= contract.completed_by ? 'Killed' : 'Died' %> on <%= contract.target.person.deathdate %>
              <%= contract.completed_by ? 'by ' + contract.completed_by : '' %>
            <% } else { %>
              PENDING
            <% } %>
          </div>
        </div>
        <div>
          <h2>Client</h2>
          <div>
            Name: <%= contract.client.person.name %>
          </div>
          <div>
            Budget: $<%= contract.budget %>
          </div>
          <h2>Assassins</h2>
          <div>
            <% if (contract.assassins.length > 0) { %>
              <% for (assassin of contract.assassins) { %>
                <div>
                  <a href="/assassins/<%= assassin.id %>" ><%= assassin.name === '' ? 'Unknown' : assassin.name %> </a>
                </div>
              <% } %>
            <% } else { %>
              none
            <% } %>
          </div>
          <div>
            <select id="assignAssassin">
              <% for (assassin of assassins) { %>
                <option value="<%= assassin.id %>"><%= assassin.name %></option>
              <% } %>
            </select>
            <input type="submit" id="assignAssassinButton" value="ASSIGN" action="/contracts/<%= contract.id %>" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
